<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FreieWahl</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

        <script src="~/lib/jquery/dist/jquery.js"></script>

        <script src="~/lib/firebase/firebase.js"></script>
        <script src="~/lib/firebase/firebase-auth.js"></script>
        <script src="~/lib/firebase/firebase-firestore.js"></script>
        <script src="~/lib/firebaseui/dist/firebaseui.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link type="text/css" rel="stylesheet" href="~/lib/firebaseui/dist/firebaseui.css" />

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

        <script src="~/lib/jquery/dist/jquery.js"></script>

        <script src="~/lib/firebase/firebase.js"></script>
        <script src="~/lib/firebase/firebase-auth.js"></script>
        <script src="~/lib/firebase/firebase-firestore.js"></script>
        <script src="~/lib/firebaseui/dist/firebaseui.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        <link type="text/css" rel="stylesheet" href="~/lib/firebaseui/dist/firebaseui.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">
    </environment>

    <script>
        window.addEventListener('load', initApp);
    </script>
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        @Html.ActionLink("***Freie Wahl", "Index", "Home", new { }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" id="fw-link-overview">
                    @Html.ActionLink("***Overview", "Overview", "VotingAdministration", new { }, new { @class = "nav-link" })
                </li>
            </ul>
            <div class="text-light" id="sign-in-status">

            </div>
            <div class="nav-item mx-3" id="sign-in">
                <button type="button" class="btn btn-secondary" onclick="configureFirebaseLoginWidget()"><i class="material-icons align-top mx-1">perm_identity</i></button>
            </div>
            </ul>
        </div>
    </nav>
    <main role="main" class="container">
        <div class="freiewahl-main">
            @RenderBody()
        </div>
    </main>
    <footer>
        <p>&copy; 2018 - FreieWahl</p>
    </footer>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/popper.js/dist/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">

        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="~/lib/popper.js/dist/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>

    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
