<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] FreieWahl</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/freiewahl.css" asp-append-version="true" />

        <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-app.js"></script>

        <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-auth.js"></script>

        <script src="https://www.gstatic.com/firebasejs/ui/3.4.1/firebase-ui-auth__de.js"></script>
        <script src="~/js/firebaseauth.js" asp-append-version="true"></script>
        <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/3.4.1/firebase-ui-auth.css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.standalone.min.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/freiewahl.css" asp-append-version="true" />

        <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-app.js"></script>

        <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-auth.js"></script>

        <script src="https://www.gstatic.com/firebasejs/ui/3.4.1/firebase-ui-auth__de.js"></script>
        <script src="~/js/firebaseauth.js" asp-append-version="true"></script>
        <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/3.4.1/firebase-ui-auth.css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js" integrity="sha256-ncetQ5WcFxZU3YIwggfwOwmewLVX4SHLBtDYnrsxooY=" crossorigin="anonymous"></script>

    </environment>
    @RenderSection("stylesheets", required: false)
    <script>
        window.addEventListener('load', initApp);
    </script>
</head>
<body>
    @RenderBody()
<footer class="border-top mt-3 pb-1 border-top" style="height: 2.5rem;">
    <div class="d-flex justify-content-between">
        <div class="px-3">
            @Html.ActionLink("Impressum", "Impressum", "Home", new { }, new { @class = "border-top border-bottom rounded px-2 py-1 mx-2 bg-light" }) @Html.ActionLink("Über uns", "About", "Home", new { }, new { @class = "border-top border-bottom rounded px-2 py-1 m-2 bg-light" })

        </div>
        <div class="px-2">supported by <a href="http://www.netidee.at" target="_blank"><img src="~/images/netidee_logo.png" height="30" width="119" alt="netidee Logo"/></a></div>
    </div>
    
</footer>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
                crossorigin="anonymous"></script>
        <script src="~/lib/popper.js/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">

        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
