@using FreieWahl.Voting.Models
@model FreieWahl.Models.Voting.VotingQuestionModel

<div class="card my-4" id="question-card-@Model.Question.Index">
    <div class="card-header position-relative p-0 fw-voting-question-header" id="header-question-@Model.Question.Index">
        <div class="bg-white rounded-circle text-@(Model.SelectedAnswerIds.Length == 0 ? "dark" : "success") text-center fw-voting-question-symbol"><i class="material-icons" style="font-size: 2.5rem">@(Model.SelectedAnswerIds.Length == 0 ? "not_interested" : "check")</i></div>
        <button class="btn collapsed btn-@(Model.SelectedAnswerIds.Length == 0 ? "dark" : "success") w-100 text-left fw-voting-question-toggler" data-toggle="collapse" data-target="#body-question-@Model.Question.Index"
                aria-expanded="false" aria-controls="body-question-@Model.Question.Index" id="question-@Model.Question.Index-title">
            @Model.Question.Text
        </button>
    </div>
    <div id="body-question-@Model.Question.Index" class="collapse @ViewData["CollapseClass"]" data-parent="#votingQuestions" aria-labelledby="header-question-@Model.Question.Index">
        <div class="card-body">
            @if (!string.IsNullOrEmpty(Model.Question.Description))
            {
                <p class="card-text" style="border-bottom: 1px solid #C0C0C0" id="question-@Model.Question.Index-description">@Model.Question.Description</p>
            }
            <div class="container" id="answer-list-@Model.Question.Index">
                @foreach (var answer in Model.Question.AnswerOptions)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="check-@Model.Question.Index" id="answer-@Model.Question.Index-@answer.Id" value="@answer.Id" disabled="disabled" @(Model.SelectedAnswerIds.Contains(answer.Id) ? "checked" : string.Empty)>
                        <label class="form-check-label" for="answer-@Model.Question.Index-@answer.Id">
                            @answer.Answer
                        </label>
                        <span class="small text-primary border-bottom" id="fw-answer-description-@Model.Question.Index-@answer.Id">
                            @answer.Description
                        </span>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
