@using FreieWahl.Voting.Models
@model FreieWahl.Models.VotingAdministration.QuestionModel

<div class="card my-4">
    <div class="card-body">
        <h1 class="card-title" style="border-bottom: 1px solid #657F8C" id="question-@Model.Index-title">@Model.Text</h1>
        <p class="card-text" style="border-bottom: 1px solid #C0C0C0" id="question-@Model.Index-description">@Model.Description</p>
        <div class="container">

            @{ int answerCount = 0; }
            @foreach (var answer in Model.AnswerOptions)
            {
                <label class="fw-checkcontainer">
                    <span id="fw-answer-title-@Model.Index-@answerCount">
                        @answer.Answer
                    </span><br />
                    <span class="small text-primary border-bottom" id="fw-answer-description-@Model.Index-@answerCount">
                        @answer.Description
                    </span>
                    <input type="radio" name="radio-@Model.Index"><span class="fw-checkmark"></span>
                </label>

                answerCount++;
            }
        </div>
    </div>
    <button class="btn btn-success float-right mx-3" onClick="unlockQuestion('@Model.VotingId', @Model.Index)">Stimme abgeben</button>
</div>
</div>