@using FreieWahl.Models.Voting
@model IEnumerable<AnswerOption>

<h2>CastVote</h2>

<input type="password" id="votingPwd"/>

@foreach (var answer in Model)
{
    <div>
        <strong>@answer.Text</strong>
        @answer.Description
        <button onclick="castVote('@answer.Id')">Vote</button>
    </div>
}

<script>
    function castVote(answerId) {
        var voterId = '@ViewData["VoterId"]';
        var questionIndex = @ViewData["QuestionIndex"];
        var password = $('#votingPwd').val();
        $.ajax({
            url: '@ViewData["RegistrationStoreGetTokenUrl"]',
            data: { "password": password, "voterId": voterId, "questionIndex": questionIndex },
            type: 'POST',
            datatype: 'json',
            success: function (x) {
                submitVote(x, answerId);
            },
            error: function(x) {
                // error: todo
            }
        });
    }

    function submitVote(tokenData, answerId) {
        var votingId = '@ViewData["VotingId"]';
        var questionIndex = @ViewData["QuestionIndex"];
        var token = tokenData.token;
        var signedToken = tokenData.unblindedToken;
        var answerIds = [answerId];

        $.ajax({
            url: 'SubmitVote',
            data: { "votingId": votingId, "questionIndex": questionIndex, "answerIds": answerIds, "signedToken": signedToken, "token": token },
            type: 'POST',
            datatype: 'json',
            success: function (x) {
                alert("yeeehaw!")
            },
            error: function(x) {
                // error: todo
            }
        });
    }
</script>

