@using FreieWahl.Voting.Common
@using FreieWahl.Voting.Models

<nav class="navbar navbar-dark fixed-top navbar-expand-md">
    <a class="navbar-brand" href="@Url.Action("Index", "Home")">
        <span id="fw-brand-1">freie</span><span id="fw-brand-2">Wahl</span>
    </a>
</nav>
@{ var registrationType = (RegistrationType)ViewData["RegistrationType"];}

<div class="container-fluid fw-banner py-3">
    <div class="row justify-content-between">
        <div class="col-12 col-md-auto pl-0 py-3">
            <div class="bg-primary px-5 text-light display-4">
                @ViewData["VotingTitle"]
            </div>
            <div class="container pt-3">
                <div class="row justify-content-between">
                    <div style="max-width: 30rem;">
                        <div class="p-0">
                            <div class="bg-light text-primary px-3 mr-3 small">
                                @ViewData["VotingDescription"]
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column justify-content-between">
                        <div class="bg-light text-primary d-flex flex-row align-items-center" style="font-size:1.5rem;font-weight:100">
                            <div><i class="material-icons text-primary mx-2" style="font-size: 3rem;">date_range</i></div>
                            <div class="px-2" id="fwDateInfo"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-12 col-md-auto">
            @if (!string.IsNullOrEmpty(ViewData["ImageData"].ToString()))
            {
                <img src="@ViewData["ImageData"]" style="max-height: 13rem;" />
            }
            else
            {
                <i class="material-icons fw-voting-img" id="fw-voting-img-dummy">how_to_vote</i>
            }
        </div>
    </div>
</div>

<div class="container">
    <div class="w-100 m-auto display-4 text-center text-primary text-uppercase">
        Registrierung
    </div>
    @if ((VotingState)ViewData["VotingState"] == VotingState.InPreparation)
    {
        <div class="alert alert-primary mt-3 h4 text-center">Die Abstimmung ist noch in Vorbereitung, eine Registrierung ist noch nicht möglich. Bitte probieren Sie es in ein paar Minuten noch einmal.</div>
    }
    else if ((VotingState)ViewData["VotingState"] == VotingState.Closed)
    {
        <div class="alert alert-danger mt-3 h4 text-center">Die Abstimmung ist bereits abgeschlossen. Eine Registrierung ist nicht mehr möglich.</div>
    }
    else
    {
        <div class="progress mt-3">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="row border-bottom pb-2 mb-3">
            <div class="col-4 text-center text-primary">Identitätsnachweis</div>
            <div class="col-4 text-center text-lightgray">Kontaktdaten</div>
            <div class="col-4 text-center text-lightgray">Abschluss</div>
        </div>
        <div class="row justify-content-between">
            <div class="col-12 col-md-12 col-lg-7 text-primary">
                <p>
                    Sie wurden eingeladen, sich als WählerIn für diese Abstimmung zu registrieren. Für die Registrierung ist ein Identitätsnachweis erforderlich.
                </p>
                <p>
                    Ihre Registrierung für die Wahl wird im Anschluss überprüft, Sie werden dann für die Wahl freigeschaltet. Nach erfolgter Freischaltung erhalten Sie eine Mail mit
                    einem Link, mit dem Sie an der Wahl teilnehmen können.
                </p>
                @if ((registrationType & RegistrationType.Buergerkarte) == RegistrationType.Buergerkarte)
                {
                    <p>
                        Wenn Sie Ihre Handy-Signatur noch nicht aktiviert haben, können Sie das auf
                        <a href="https://www.handy-signatur.at/"><strong>www.handy-signatur.at</strong></a> machen.
                    </p>
                }
                @if (registrationType == (RegistrationType.Buergerkarte | RegistrationType.Sms))
                {
                    <div class="input-group">
                        <select class="custom-select" id="inputGroupSelectIdType" style="background:none !important">
                            <option selected=selected>Wie wollen Sie ihren Identitätsnachweis erbringen?</option>
                            <option value="1">Handysignatur</option>
                            <option value="2">Mit einer SMS</option>
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" id="btnSelectIdentityProofMethod">OK</button>
                        </div>
                    </div>
                }
            </div>
            @if ((registrationType & RegistrationType.Buergerkarte) == RegistrationType.Buergerkarte)
            {
                <div class="col-12 col-md-6 col-lg-4" id="fwRegFormHandySig" @(registrationType == (RegistrationType.Buergerkarte | RegistrationType.Sms) ? "style=display:none" : string.Empty)>
                    <div class="w-100 bg-primary text-white px-2" style="font-size: 2.5rem; font-weight: 100">Handysignatur</div>
                    <form target="signatureFrame" id="buergerkarteLoader" action="https://www.a-trust.at/mobile/https-security-layer-request/default.aspx" enctype="application/x-www-form-urlencoded" method="post" style="display: none;">

                        <!-- XMLRequest -->
                        <input type="hidden" name="XMLRequest" id="sigRequest" value="<?xml version='1.0' encoding='UTF-8' ?>
                        <sl:CreateCMSSignatureRequest xmlns:sl='http://www.buergerkarte.at/namespaces/securitylayer/1.2#' Structure='enveloping'>
                            <sl:KeyboxIdentifier>SecureSignatureKeypair</sl:KeyboxIdentifier>
                            <sl:DataObject>
                                <sl:MetaInfo><sl:MimeType>text/plain</sl:MimeType></sl:MetaInfo>
                                <sl:Content>
                                    <sl:Base64Content>TOKEN_PLACEHOLDER</sl:Base64Content>
                                </sl:Content>
                            </sl:DataObject>
                        </sl:CreateCMSSignatureRequest>"/>

                        <input type="hidden" name="appletheight" value="350" />
                        <input type="hidden" name="appletwidth" value="350" />



                        <!-- DataURL -->
                        <!-- <input type="hidden" name="DataURL" value="https://freiewahl-data.appspot.com/HandySignatur?regUid=@ViewData["RegistrationStoreId"]" /> -->
                        <input type="hidden" name="DataURL" value="https://freiewahl-application.appspot.com/Registration/Register?regUid=@ViewData["RegistrationStoreId"]" />
                        <!-- Submit Button -->
                        <input type="submit" value="Test Request" />

                    </form>

                    <iframe name="signatureFrame" id="signatureFrame" width="350" height="350" scrolling="no"></iframe>
                </div>
            }
            @if ((registrationType & RegistrationType.Sms) == RegistrationType.Sms)
            {
                <div class="col-12 col-md-6 col-lg-4" id="fwRegFormSms" @(registrationType == (RegistrationType.Buergerkarte | RegistrationType.Sms) ? "style=display:none" : string.Empty)>
                    <div class="w-100 bg-primary text-white px-2" style="font-size: 2.5rem; font-weight: 100">SMS</div>
                    <div class="form-group">
                        <label for="smsRegInputName">Name</label>
                        <input type="text" class="form-control" id="smsRegInputName" placeholder="Vorname Nachname" />
                    </div>
                    <div class="form-group">
                        <label for="smsRegInputPhone">Handynummer</label>
                        <input type="text" class="form-control" id="smsRegInputPhone" placeholder="+43 6xx 1234567" />
                    </div>
                    <button class="btn btn-primary w-100" id="smsRegSendButton">SMS zuschicken</button>
                    <div class="form-group d-none" id="smsRegVerificationCodeEntry">
                        <label for="smsRegVerificationCode">Verifikationscode</label>
                        <input type="text" class="form-control" id="smsRegVerificationCode" placeholder="123456" />
                    </div>
                    <button class="btn btn-primary w-100" id="smsRegVerifyButton" style="display: none">OK</button>
                </div>
            }
        </div>
    }
</div>
@section scripts
    {
    <script src="~/js/register.js" asp-append-version="true">
    </script>
    <script>
        initRegistrations('@ViewData["VotingId"]', '@ViewData["RegistrationStoreId"]', @ViewData["StartDate"], @ViewData["EndDate"]);
    </script>
}