@using Newtonsoft.Json
@model FreieWahl.Models.Voting.VoteModel

<h2>@Model.VotingTitle</h2>

Geben Sie Ihr Passwort ein
    <div class="form-group">
        <label for="voterPassword">Passwort</label>
        <input type="password" class="form-control" id="voterPassword" name="password" placeholder="Password">
    </div>
    <button class="btn btn-primary" onclick="getTokens()">Submit</button>

<script>
    const questions = @Json.Serialize(Model.Questions);

    function getTokens() {
        const pwd = $('#voterPassword').val();
        const questionIndices = @Json.Serialize(Model.Questions.Select(x => x.Index).ToArray());
        $.ajax({
            url: '@Model.GetTokensUrl',
            data: { "voterId": '@Model.VoterId', "password": pwd, "questionIndices": questionIndices },
            type: 'POST',
            datatype: 'json',
            success: function (x) {
                getQuestionStatus(x.tokens);
            },
            error: function (x) {
                alert(JSON.stringify(x));
                // error: todo
            }
        });
    }

    function getQuestionStatus(data) {
        var tokens = data.map(x => x.token);
        $.ajax({
            url: 'GetAnsweredQuestionIndices',
            data: { "votingId": '@Model.VotingId',"tokens": tokens },
            type: 'POST',
            datatype: 'json',
            success: function (x) {
                alert('yeehaw!');
            },
            error: function(x) {
                // error: todo
            }
        });
    }


</script>