@model FreieWahl.Models.Voting.VoteModel

<nav class="navbar navbar-dark fixed-top navbar-expand-md">
    <a class="navbar-brand" href="@Url.Action("Index", "Home")">
        <img src="~/images/logo_darkbg.svg" style="height: 3rem;" />
    </a>
</nav>
<div class="container-fluid fw-banner py-3">
    <div class="row justify-content-between">
        <div class="col-12 col-md-auto pl-0 py-3">
            <div class="bg-primary px-5 text-light display-4">
                @Model.VotingTitle
            </div>
            <div class="container pt-3">
                <div class="row justify-content-between">
                    <div style="max-width: 30rem;">
                        <div class="p-0">
                            <div class="bg-light text-primary px-3 mr-3 small">
                                @Model.VotingDescription
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column justify-content-between">
                        <div class="bg-light text-primary d-flex flex-row align-items-center" style="font-size:1.5rem;font-weight:100">
                            <div><i class="material-icons text-primary mx-2" style="font-size: 3rem;">date_range</i></div>
                            <div class="px-2" id="fwDateInfo"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-12 col-md-auto">
            @if (!string.IsNullOrEmpty(Model.ImageData))
            {
                <img src="@Model.ImageData" style="max-height: 13rem;" />
            }
            else
            {
                <i class="material-icons fw-voting-img" id="fw-voting-img-dummy">how_to_vote</i>
            }
        </div>
    </div>
</div>


<div class="container py-3" id="passwordEntry">
    <div class="row justify-content-center">
        <div class="col-auto text-white text-center">
            <div class="bg-white rounded-circle text-primary border" style="height: 12rem;width:12rem"><i class="material-icons pt-3" style="font-size: 9.5rem">lock_open</i></div>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-12 col-md-6 col-lg-4"><small>Um mitstimmen zu können, müssen Sie das vorher von Ihnen festgelegte Passwort eingeben.</small>
            <div class="form-group w-100 mt-2">
                <input type="password" class="form-control form-control-lg" id="voterPassword" name="password" placeholder="Passwort">
            </div>
            <div class="alert alert-danger fade d-none hide" role="alert" id="alert-wrong-password"><span>Falsches Passwort!</span><button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <button class="btn btn-primary btn-lg w-100" id="submitPassword">OK</button>
        </div>
    </div>
</div>

<div class="container" id="votingQuestions">

</div>

@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.6.1/Sortable.min.js"></script>
    <script src="~/js/vote.js" asp-append-version="true"></script>

    <script>
        Vote.init('@Model.VotingId', '@Model.VoterId', '@Model.GetSignedTokenUrl', '@Model.GetTokensUrl', @Json.Serialize(Model.Questions.Select(x => x.Index).ToArray()) );

        $(document).ready(function() {
            const startDate = formatDateTimeSeconds(@Model.StartDate);
            const endDate = formatDateTimeSeconds(@Model.EndDate);
            $('#fwDateInfo').html(`Start: ${startDate}<br />Ende: ${endDate}`);
            $('#submitPassword').click(Vote.getTokens);
        });



    </script>
}