@using Newtonsoft.Json
@model FreieWahl.Models.Voting.VoteModel

<h2>@Model.VotingTitle</h2>

Geben Sie Ihr Passwort ein
    <div class="form-group">
        <label for="voterPassword">Passwort</label>
        <input type="password" class="form-control" id="voterPassword" name="password" placeholder="Password">
    </div>
<button class="btn btn-primary" onclick="getTokens()">Submit</button>

<div class="container" id="votingQuestions">

</div>

<script>
    function getTokens() {
        const pwd = $('#voterPassword').val();
        const questionIndices = @Json.Serialize(Model.Questions.Select(x => x.Index).ToArray());
        $.ajax({
            url: '@Model.GetTokensUrl',
            data: { "voterId": '@Model.VoterId', "password": pwd, "questionIndices": questionIndices },
            type: 'POST',
            datatype: 'json',
            success: function (data) {
                var tokens = data.tokens.map(x => x.token);
                $('#votingQuestions').load('GetQuestions', { 'tokens': tokens, 'votingId': '@Model.VotingId', 'voterId': '@Model.VoterId' })
            },
            error: function (x) {
                alert(JSON.stringify(x));
                // error: todo
            }
        });
    }
    
</script>