@using FreieWahl.Voting.Models
@model FreieWahl.Models.VotingAdministration.QuestionModel

<div class="card my-4 questionCard @(Model.Status == QuestionStatus.OpenForVoting ? "questionCardInactive" : "")" data-questionid="@Model.Index">
    <div class="card-header bg-primary text-light pb-0 pt-1" style="font-size:2.5rem; font-weight: 100;line-height: 2.5rem">
        <div class="py-2 float-left">Entscheidungsfrage</div>
        @if (Model.Status == QuestionStatus.InPreparation)
        {
            <div class="btn-group dropleft float-right">
                <a class="nav-link" href="#" id="question-@Model.Index-menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons text-white" style="font-size: 2.5rem">more_vert</i> <!-- TODO: hover -->
                </a>
                <div class="dropdown-menu" aria-labelledby="question-@Model.Index-menu">
                    <button class="dropdown-item fwBtnEditQuestion" type="button" data-questionid="@Model.Index">Bearbeiten</button>
                    <button class="dropdown-item fwBtnDeleteQuestion" type="button" data-questionid="@Model.Index">Frage löschen</button>
                </div>
            </div>
        }
    </div>
    <div class="card-body">
        <h1 class="card-title" style="border-bottom: 1px solid #657F8C" id="question-@Model.Index-title">@Model.Text</h1>
        <p class="card-text" style="border-bottom: 1px solid #C0C0C0" id="question-@Model.Index-description">@Model.Description</p>
        @if (Model.Status != QuestionStatus.Locked)
        {
            <div class="container">
                <div class="row" id="question-@Model.Index-answers">
                    <div class="col-lg-6 col-12">
                        @{ int answerCount = 0; }
                        @foreach (var answer in Model.AnswerOptions)
                        {
                            <label style="display: block; position: relative; padding-left: 35px; margin-bottom: 12px;">
                                <span id="fw-answer-title-@Model.Index-@answerCount">
                                    @answer.Answer
                                </span><br />
                                <span class="small text-primary border-bottom" id="fw-answer-description-@Model.Index-@answerCount">
                                    @answer.Description
                                </span>
                                <input type="radio" style="position: absolute; opacity: 0;"><span style="position: absolute; top: 0; left: 0; height: 23px; width: 23px; background-color: #eee; border: 3px solid #657f8C; border-radius: 50%"></span>
                            </label>
                            answerCount++;
                        }
                    </div>
                    @if (Model.Status == QuestionStatus.OpenForVoting)
                    {
                        <div class="col-lg-6 col-12">
                            <div id="progress-container-@Model.Index" class="d-none m-3" style="width:18rem; height: 9rem; flex-direction: column-reverse; justify-content: end; align-items: center">

                                <div style="font-size: 2rem; color: #3583A9; font-weight: 300; margin-top: -2rem; text-align: center; line-height: 1rem">
                                    <span id="progress-value-@Model.Index"></span><br><span style="font-size: 1rem">Stimmen abgegeben</span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }

        @if (Model.Status == QuestionStatus.InPreparation)
        {
            <button class="btn btn-success float-right mx-3 fwBtnUnlockQuestion" data-questionid="@Model.Index">Freischalten</button>
        }
        else if (Model.Status == QuestionStatus.OpenForVoting)
        {
            <div class="w-100 bg-light text-dark p-1 border"><small>Diese Frage ist für die WählerInnen freigeschaltet und kann nicht mehr bearbeitet werden.</small></div>
            <div class="container">
                <div class="row align-items-end mt-2">
                    <div class="col">
                        <button class="btn btn-secondary float-right fwBtnLockQuestion" data-questionid="@Model.Index">Abschließen</button>
                    </div>
                </div>
            </div>
        }
        else if (Model.Status == QuestionStatus.Locked)
        {
            <div class="container fw-question-results" style="min-height: 400px" data-questionid="@Model.Index">

            </div>
        }
    </div>
</div>
