@using FreieWahl.Voting.Models
@model FreieWahl.Models.VotingAdministration.EditVotingModel

@await Html.PartialAsync("_Header", new ViewDataDictionary(ViewData) { { "Initials", Model.UserInitials }, { "IsOverview", false } })

@await Html.PartialAsync("_InviteVoters", new ViewDataDictionary(ViewData) { { "Title", Model.Title }, { "VotingId", Model.VotingId }, { "RegistrationDate", Model.StartDate } })

await @Html.PartialAsync("_NewQuestionModal")

<div class="container-fluid fw-banner py-3">
    <div class="row justify-content-between">
        <div class="col-12 col-md-auto pl-0">
            <div class="bg-primary px-5 text-light display-4">
                @Model.Title
            </div>
            <div class="container pt-3">
                <div class="row justify-content-between">
                    <div style="max-width: 30rem;">
                        <div class="p-0">
                            <div class="bg-light text-primary px-3 mr-3 small">
                                @Model.Description
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column justify-content-between">
                        <div class="bg-light text-primary d-flex flex-row align-items-center" style="font-size:1.5rem;font-weight:100">
                            <div><i class="material-icons text-primary mx-2" style="font-size: 3rem;">date_range</i></div>
                            <div class="px-2 text-right" id="fwDateInfo"></div>
                        </div>
                        <div class="float-right mt-3">
                            <button class="btn btn-secondary float-right text-uppercase">Bearbeiten</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-12 col-md-auto">
            @if (!string.IsNullOrEmpty(@Model.ImageData))
            {
                <img src="@Model.ImageData" style="max-height: 13rem;">
            }
            else
            {
                <i class="material-icons fw-voting-img" id="fw-voting-img-dummy">how_to_vote</i>
            }
        </div>
    </div>
</div>

<div class="container-fluid" style="border-bottom:2px solid #C0C0C0;">
    <div class="row p-3">
        <div class="col col-auto">
            <i class="material-icons text-primary" style="font-size:2rem">link</i>
        </div>
        <div class="col-10 col-lg-8 text-primary">
            <strong>Link zur Registrierung für die Abstimmung</strong><br>
            <a href="@Model.RegistrationUrl" id="shareLinkText" data-toggle="tooltip" data-placement="right" title="WählerInnen einladen" data-content="Kopieren Sie den Link und schicken ihn Ihren WählerInnen...">@Model.RegistrationUrl</a>
        </div>
        <div class="col-3">
            <button class="btn btn-secondary text-uppercase float-lg-right mt-lg-0 mt-2" id="fwBtnShareLink" data-toggle="tooltip" data-placement="left" data-content="... oder senden Sie den Link zur Abstimmung per Mail aus.">Link teilen</button>
        </div>
    </div>
</div>
<main role="main" class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-4 px-0" style="border-right:2px solid #C0C0C0">
            <div id="registrationAccordion">
                <div class="card">
                    <div class="card-header py-1" id="headingOpenRegistrations">
                        <button class="btn btn-link w-100 text-left" data-toggle="collapse" data-target="#collapseOpenRegistrations" aria-expanded="false" aria-controls="collapseOpenRegistrations">
                            Offene Registrierungen <span class="badge badge-pill badge-warning float-right mt-1" id="openRegistrationsBadge">.</span>
                        </button>
                    </div>
                    <div id="collapseOpenRegistrations" class="collapse" aria-labelledby="headingOne">
                        <div class="card-body" aria-labelledby="fw-dropdown-registered" id="openRegistrationsList">
                            <div class="dropdown-divider" id="openRegistrationsDivider"></div>
                            <button type="button" class="btn btn-primary" id="fwBtnGrantAll">Alle freischalten</button>
                            <button type="button" class="btn btn-light" id="fwBtnDenyAll">Alle ablehnen</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header py-1" id="headingGrantedRegistrations">
                        <button class="btn btn-link w-100 text-left" data-toggle="collapse" data-target="#collapseGrantedRegistrations" aria-expanded="false" aria-controls="collapseGrantedRegistrations">
                            Freigeschaltete WählerInnen <span class="badge badge-pill badge-secondary float-right mt-1" id="grantedRegistrationsBadge">.</span>
                        </button>
                    </div>
                    <div id="collapseGrantedRegistrations" class="collapse" aria-labelledby="headingOne">
                        <div class="card-body" aria-labelledby="fw-dropdown-registered" id="grantedRegistrationsList">
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header py-1" id="headingDeniedRegistrations">
                        <h5 class="mb-0">
                            <button class="btn btn-link w-100 text-left" data-toggle="collapse" data-target="#collapseDeniedRegistration" aria-expanded="false" aria-controls="headingDeniedRegistrations">
                                Abgelehnte Registrierungen <span class="badge badge-pill badge-dark float-right mt-1" id="deniedRegistrationsBadge">.</span>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseDeniedRegistration" class="collapse" aria-labelledby="headingOne">
                        <div class="card-body" aria-labelledby="fw-dropdown-registered" id="deniedRegistrationsList">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-8 p-3" id="questionList">
            @await Html.PartialAsync("QuestionList", Model)
        </div>
    </div>
</main>

@section scripts {
    <script src="~/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/edit.js" asp-append-version="true"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts-en.common.min.js" integrity="sha256-PXZ+rlU8rLmI+s7pWJJQjdzV4Y7dZ41gs6rAXpfZhjQ=" crossorigin="anonymous"></script>

    <script>
        initApp();

        $(document).ready(function() {
            setupEditScreen('@Model.VotingId', @Json.Serialize(Model.Questions));

            const startDate = formatDateTimeSeconds(@Model.StartDate);
            const endDate = formatDateTimeSeconds(@Model.EndDate);
            $('#fwDateInfo').html(`Start: ${startDate}<br />Ende: ${endDate}`);

            $('#shareLinkText').popover({ offset: '1rem' });
            $('#fwBtnShareLink').popover();
            @if (Model.IsNew)
            {
                <text>
                    if (window.innerWidth > 1400) {
                        $('#shareLinkText').popover('show');
                        $('#fwBtnShareLink').popover('show');
                    }
                </text>
            }
            else
            {
                <text>
                    $('#shareLinkText').popover('disable');
                    $('#fwBtnShareLink').popover('disable');
                </text>
            }
        });
    </script>

}
